
canvas{
    width:100vw;
    height:100vh;
}
html, body{
    margin:0;
    padding:0;
    overflow:hidden;
}
.nophone{
    position:absolute;
    display: none;
    width:100vw;
    height:100vh;
    z-index: 50;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:100px;
    background-color:rgba(28, 28, 28, 0.817)
}
@media only screen and (max-device-width: 480px){
    .nophone{
display:flex;
    }
}